h3,
p {
  margin: 0;
  padding: 0;
}

.cards {
  text-align: center;
  width: 250px;
  height: 350px;
  border-radius: 80px;
  overflow: hidden;
  background-color: #fbf7e3;
  color: #612406;
}
.cards img {
  height: 230px;
  position: relative;
  left: -50px;
}
.description {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cards button {
  border: none;
  background-color: #f3df85;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  color: #612406;
}
